td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}


nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-size: 20px;
    color: darkblue;
}
nav img{
    width: 150px;
    display: flex;
    position: relative;
    left: -70px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: darkblue;
    text-decoration: none;
    font-size: 15px;
    font-weight: 150;
}

.nav-links ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background: darkblue;
    display: block;
    margin: auto;
    transition: 0.5s;
} 

.nav-links ul li:hover::after{
    width: 100%;
}




.courses-css {
    position: relative;
    display: flex;
    top: -675px;
    left: 358px;
    border: 1px;
    text-align: center;
    padding: 8px;
}

.students-css{
    position: relative;
    display: flex;
    top: -675px;
    left: 508px;
    border: 1px;
    text-align: center;
    padding: 8px;
}

.divider{
    width: 300px;
    height: 5px;
    background-color: seagreen;
}



/* TEACHERS */
.teachers {
    position: relative;
    display: flex;
    top: -50px;
    left: 458px;
    border: 1px;
    text-align: center;
    padding: 8px;
}

.subjects {
    position: relative;
    left: -440px;
    border: 1px;
    text-align: center;
    top: -600px;
}

.subject-info{
    position: relative;
    left: 465px;
    top: -1180px;
}

.subject-info table{
    width: 1065px;
}

.guide-lines{
    position: relative;
    top:-790px;
    left: 468px;
}

.guide-lines p{
    font-size: 12px;
}
